<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>Danjel</title>
     <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- Latest compiled JavaScript -->
	<link rel="stylesheet" href="https://jqueryui.com/resources/demos/style.css">
	<link rel="stylesheet" href="client/css/font-awesome-4.7.0/css/font-awesome.min.css">
 	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> 
	<link rel="stylesheet" href="client/css/style.css">
</head>
<body>
	<nav class="navbar navbar-inverse navbar-fixed-top brandingImgDiv2">
		<div class="container-fluid">
			<div class="navbar-header">
      			<a class="navbar-brand" href="#">Danjel</a>
    		</div>
			<ul id="myTab" class="nav navbar-nav">
				<li id="EN" class="languageLi languagesLi">
					<a class="nav-item nav-link " data-toggle="tab" href="#!/enBranding">
						<span class="selectedLanguage language">EN</span>
					</a>
				</li>
				<li id="SK" class="languagesLi">
					<a class="nav-item nav-link" data-toggle="tab" href="#!/skBranding">
						<span class="language">SK</span>
					</a>
				</li>
				<li>
					<a class="navbar-brand js-scroll-trigger" href="#page-top">ACTUAL</a>
				</li>
				<li>
					<a class="navbar-brand js-scroll-trigger" href="#profile">PROFILE</a>
				</li>
				<li>
					<a class="navbar-brand js-scroll-trigger" href="#collaborateNav">COLLABORATE</a>
				</li>
				<li>
					<a class="navbar-brand js-scroll-trigger" href="#contact">CONTACT</a>
				</li>
				<li>
					<a class="navbar-brand js-scroll-trigger" href="#portfolioNav">PORTFOLIO</a>
				</li>
			</ul>
		</div>
	</nav>
   
	<div id="topAndProfile">
		<div id="page-top" class="col-md-12 brandingMainDiv">
			<div class="container">
				<div class="brandingImgDiv col-md-4">
					<img class="brandingImg" src="client\css\img\climate.jpg">
				</div>
				<div class="col-md-6 brandingDesc">
					<div class="col-md-6 videoTitle">
						<p class="brandingBasicFont title">RICK AND MORTY</p>
					</div>
					<div class="col-md-12">
						<p class="brandingBasicFont videoDescription">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae
							ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra.</p>
					</div>	
					<div class="col-md-12">
						<p class="videoDate brandingMoreDetails">more details ></p>
					</div>
				</div>
			</div>
		</div>

		<div id="profile" class="col-md-12 brandingMainDiv brandingTimelineDiv ">
			<div class="container">
				<div>
					<div class="col-md-4">
						<div class="authorPictureDiv col-md-8">
							<img class="authorPictureImg" src="client/css/img/billrapist.jpg">
						</div>
						<div>
							<ul class="timeline brandingTimeline">
								<li class="timeline-inverted">
									<div class="tl-circ selectedYearTimeline branding-tl-circ"></div>
										<div class="tl-heading">
										  	<h3 class="selectedYearTimeline">2017</h3>
										</div>
								</li>
							
								<li class="timeline-inverted">
									<div class="tl-circ branding-tl-circ"></div>
									<div class="tl-heading">
										<h3>2016</h3>
									</div>
								</li>
							
								<li class="timeline-inverted">
									<div class="tl-circ branding-tl-circ"></div>
									<div class="tl-heading">
										<h3>2015</h3>
									</div>
								</li>
							
								<li class="timeline-inverted">
									<div class="tl-circ branding-tl-circ"></div>
									<div class="tl-heading">
										<h3>2014</h3>
									</div>
								</li>
							
								<li class="timeline-inverted lastTimeline">
									<div class="tl-circ branding-tl-circ"></div>
									<div class="tl-heading">
										<h3>2013</h3>
									</div>
								</li>
							</ul>
						</div>
					</div>
					<div class="col-md-6 brandingDesc">
						<div class="col-md-6 videoTitle">
							<p class="brandingBasicFont title">Bill the rapist</p>
						</div>
	
						<div class="col-md-12">
							<p class="brandingBasicFont videoDescription">Our long time friend Billy here has been raping so many girls like Monica Lewinsky, that he got aids. Oh well what can you do when you're horny like a bull and have nothing better to do as a president of the most powerful nation. Well you can be like Obama playing golf all the time or Bush fking around in middle east, but let's be honest Billy is a simpler man.</p>
						</div>
						<div class="col-md-12">
							<p class="videoDate brandingMoreDetails">more details ></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="brandingDividerDiv2 col-md-12"></div>
	
	<div id="collaborateNav" class="brandingDividerDiv col-md-12"></div>

	<div id="collaborate" class="col-md-12 brandingMainDiv bradingCollaborateDiv">
		<div class="container">

			<div class="col-md-12">
				<h1 class="middle">TIME MANAGMENT</h1>
			</div>
			<div class="col-md-4 middleNumber">
				<h1 class="big one">1</h1>
				<h1 class="big slash">/</h1>
				<h1 class="big tree">3</h1>
				<h3>Research</h3>
			</div>

			<div class="col-md-4 middleNumber">
				<h1 class="big one">1</h1>
				<h1 class="big slash">/</h1>
				<h1 class="big tree">3</h1>
				<h3>Digital Strategy</h3>
			</div>

			<div class="col-md-4 middleNumber">
				<h1 class="big one">1</h1>
				<h1 class="big slash">/</h1>
				<h1 class="big tree">3</h1>
				<h3>Design</h3>				
			</div>	

			<div id="collaborateNav" class="col-md-12 brandingDividerDiv4"></div>

			<div class="col-md-12 brandingMainDiv brandingTimelineDiv bradingCollaborateDiv">
					
				<div class="col-md-3 opacityDiv">
					<h1 class="biggest one opacityHalf">1</h1>
					<h1 class="smaller">SCOPE OF PROJECT?</h1>
				</div>

				<div class="col-md-9">
					<div class="col-md-4 collaborateLarge">
						<div class="checkboxLargeDiv">
							<input type="checkbox" id="checkbox-1-1" class="regular-checkbox regular-checkbox" />
							<label for="checkbox-1-1"></label>
						</div>
					</div>

					<div class="col-md-4 collaborateLarge">
						<div class="checkboxLargeDiv">
							<input type="checkbox" id="checkbox-1-2" class="regular-checkbox regular-checkbox" />
							<label for="checkbox-1-2"></label>
						</div>
					</div>

					<div class="col-md-4 collaborateLarge">
						<div class="checkboxLargeDiv">
							<input type="checkbox" id="checkbox-1-3" class="regular-checkbox regular-checkbox" />
							<label for="checkbox-1-3"></label>
						</div>
					</div>
				</div>

				<div class="col-md-3 opacityDivSmall">
					<h1 class="biggest one opacityHalf">1</h1>
					<h1 class="bigger one opacityHalf">.1</h1>					
					<h1 class="smaller">DO YOU NEED GREAT DESIGN?</h1>
				</div>

				<div class="col-md-9">
					<div class="col-md-4 collaborateSmall">
						<div class="checkboxSmallDiv">
							<input type="checkbox" id="checkbox-2-1" class="regular-checkbox regular-checkbox" />
							<label for="checkbox-2-1"></label>
						</div>
					</div>

					<div class="col-md-4 collaborateSmall">
						<div class="checkboxSmallDiv">
							<input type="checkbox" id="checkbox-2-2" class="regular-checkbox regular-checkbox" />
							<label for="checkbox-2-2"></label>
						</div>
					</div>

					<div class="col-md-4 collaborateSmall">
						<div class="checkboxSmallDiv">
							<input type="checkbox" id="checkbox-2-3" class="regular-checkbox regular-checkbox" />
							<label for="checkbox-2-3"></label>
						</div>
					</div>

					<div class="col-md-4 collaborateSmall">
						<div class="checkboxSmallDiv">
							<input type="checkbox" id="checkbox-2-4" class="regular-checkbox regular-checkbox" />
							<label for="checkbox-2-4"></label>
						</div>
					</div>
				</div>

				<div class="col-md-3 opacityDiv">
					<h1 class="biggest one opacityHalf">2</h1>
					<h1 class="smaller">WHAT TYPE OF PROJECT IT IS?</h1>
				</div>

				<div class="col-md-9">
					<div class="col-md-4 collaborateLarge">
						<div class="checkboxLargeDiv">
							<input type="checkbox" id="checkbox-3-1" class="regular-checkbox regular-checkbox" />
							<label for="checkbox-3-1"></label>
						</div>
					</div>

					<div class="col-md-4 collaborateLarge">
						<div class="checkboxLargeDiv">
							<input type="checkbox" id="checkbox-3-2" class="regular-checkbox regular-checkbox" />
							<label for="checkbox-3-2"></label>
						</div>
					</div>

					<div class="col-md-4 collaborateLarge">
						<div class="checkboxLargeDiv">
							<input type="checkbox" id="checkbox-3-3" class="regular-checkbox regular-checkbox" />
							<label for="checkbox-3-3"></label>
						</div>
					</div>
				</div>

				<div class="brandingDividerDiv4 col-md-12"></div>

				<div class="col-md-3 opacityDiv">
						<h1 class="biggest one opacityHalf">3</h1>
					<h1 class="smaller">CONTACT</h1>
				</div>
			
				<div class="col-md-6 brandingFormDiv">
					<form name="newYourPlaylistForm" id="newTaskForm" class="w3-container" method="post" ng-submit="addTask()">
						<div class="col-md-6 brandingFormName">
							<p>
								<input placeholder="Your / company name" class="w3-input brandingInput" name="newTaskTitle" id="inputTitle" type="text" ng-model="newTask.title" required>
							</p>
						</div>
						<div class="col-md-6 brandingFormPhone">
							<p>
								<input placeholder="Your / company name" class="w3-input brandingInput" name="newTaskTitle" id="inputTitle" type="text" ng-model="newTask.title" required>
							</p>
						</div>
						<p>     
							<input placeholder="Your email adress" class="w3-input brandingInput" name="newTaskDescription" id="inputDescription" type="text" ng-model="newTask.description" required>
						</p>
						<p class="whatKindOfPlaylistPara brandingInput">
							Text
						</p>
						<p>
							<textarea class="w3-input brandingInput" name="newFormularDescription" cols="40" rows="3" required></textarea>                 
						</p>
						<div class="addAttachmentsDiv">
							<label for="files" class="btn addAttachments brandingInput"><span class="plus">+</span> Add attachments:<br><span>...images or files of anything you need to describe your idea</span></label>
							<input id="files" style="visibility:hidden;" type="file">
						</div>
						<button class="w3-button w3-black w3-round-xxlarge wantMusic submitModalButton" onclick="w3_open()">
							Submit
						</button>
					</form>
				</div>
			</div>
		</div>
	</div>
	
	<div id="portfolioNav" class="brandingDividerDiv3 col-md-12"></div>

	<div id="portfolio" class="col-md-12 ">
		<div class="col-md-12 brandingMainDiv bradingCollaborateDiv">
			<div class="container">
				<div class="brandingImgDiv portfolioImgDiv col-md-4">
					<img class="portfolioImg" src="client\css\img\climate.jpg">
				</div>

				<div class="brandingImgDiv portfolioImgDiv col-md-4">
					<img class="portfolioImg" src="client\css\img\climate.jpg">
				</div>

				<div class="brandingImgDiv portfolioImgDiv col-md-4">
					<img class="portfolioImg" src="client\css\img\climate.jpg">
				</div>
			</div>
		</div>

		<div class="col-md-12 brandingMainDiv ">
			<div class="container">

				<div class="brandingImgDiv col-md-4">
					<img class="brandingImg" src="client\css\img\climate.jpg">
				</div>
				<div class="col-md-6 brandingDesc">
					<div class="col-md-6 videoTitle">
						<p class="brandingBasicFont title">RICK AND MORTY</p>
					</div>

					<div class="col-md-12">
						<p class="brandingBasicFont videoDescription">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae
							ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra.</p>
					</div>
					<div class="brandingImgDivSmall col-md-4">
						<img class="brandingImgSmaller" src="client\css\img\climate.jpg">				
					</div>
					<div class="emptyBox col-md-4">
						<h1 class="anotherSmall">+2</h1>
					</div>
				</div>
			</div>	
		</div>
	</div>

	<div class="modal fade" id="myModal" role="dialog">
		<div class="modal-dialog">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-body">
					<button type="button" class="close" data-dismiss="modal">&times;</button>				
					<form name="newYourPlaylistForm" id="newTaskForm" class="w3-container newYourPlaylistForm emailModalForm" method="post" ng-submit="addTask()">
						<p>
							<input placeholder="Your name" class="w3-input mainLoginInput" name="newTaskTitle" id="inputTitle" type="text" ng-model="newTask.title" required>
						</p>
						<p>     
							<input placeholder="email address" class="w3-input mainLoginInput" name="newTaskDescription" id="inputDescription" type="text" ng-model="newTask.description" required>
						</p>
						<p class="whatKindOfPlaylistPara">
							What is on your mind?
						</p>
						<p>
							<textarea class="w3-input" name="newFormularDescription" cols="40" rows="3" required></textarea>                 
						</p>
						<div class="addAttachmentsDiv">
							<label for="files" class="btn addAttachments"><span class="plus">+</span> Add attachments:<br><span>...images or files of anything you need to describe your idea</span></label>
							<input id="files" style="visibility:hidden;" type="file">
						</div>
						<button class="w3-button w3-black w3-round-xxlarge wantMusic submitModalButton" onclick="w3_open()">
							Submit
						</button>
					</form>
				</div>
			</div>
		</div>
	</div>

	<div id="bottom_fade"></div>

	<div class="footer-bottom col-md-12">
		<div class="container bottomMedia">
			<div class="socialMediaDivider">
				<a target="_blank" href="https://www.facebook.com/danjel.zone">
					<i class="fa fa-facebook" aria-hidden="true"></i>
				</a>
				<button class="email" data-toggle="modal" data-target="#myModal">
					<i class="fa fa-envelope-o" aria-hidden="true"></i>
				</button>
			</div>
		</div>
	</div>

<div class="col-md-4 lil " ></div>
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="client/bower_components/jquery/dist/jquery.js"></script>
    <script src="client/bower_components/angular/angular.js"></script>
    <script src="client/bower_components/angular-route/angular-route.js"></script>
	<script src="client/bower_components/bootstrap/dist/js/bootstrap.js"></script>
	<script src="client/bower_components/scrollify/jquery.scrollify.js"></script>
	<script src="client/bower_components/jquery-easing/jquery.easing.min.js"></script>
</body>
</html>
<script>
	$('.whatKindOfPlaylistPara').click(function () {
		$("[name=newFormularDescription]").focus();
	});

	// Smooth scrolling using jQuery easing
	$('a.js-scroll-trigger[href*="#"]:not([href="#"])').click(function() {
		if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') && location.hostname == this.hostname) {
			var target = $(this.hash);
			console.log(target);
		
			target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
			if (target.length) {
				$('html, body').animate({
					scrollTop: (target.offset().top - 54)
				}, 1000, "easeInOutExpo");
				return false;
			}
		}
  	});

	// Closes responsive menu when a scroll trigger link is clicked
	$('.js-scroll-trigger').click(function() {
		$('.navbar-collapse').collapse('hide');
	});

	// Activate scrollspy to add active class to navbar items on scroll
	$('body').scrollspy({
		target: '#mainNav',
		offset: 54
	});

	$("li.languagesLi").click(function() {
		$('li.languagesLi').each(function () {
			$(this).find("span.language").removeClass("selectedLanguage")
		});
		$(this).find("span.language").addClass("selectedLanguage");
	});
</script>