/*timeline css*/
body {
    background: -webkit-linear-gradient(left, #f1f1f1 , #ffffff); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #f1f1f1 , #ffffff); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #f1f1f1 , #ffffff); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #f1f1f1 , #ffffff); /* Standard syntax (must be last) */
}

@font-face {
	font-family: 'Gotham-light';
	src: url('fonts/Gotham-light/GothamLight.eot');	
	src: local('fonts/Gotham-light/GothamLight'), url('fonts/Gotham-light/GothamLight.woff') format('woff'), url('fonts/Gotham-light/GothamLight.ttf') format('truetype');
}

@font-face {
	font-family: 'Gotham-bold';
	src: url('fonts/Gotham-bold/gothambold1.eot');
	src: local('fonts/Gotham-bold/gothambold1'), url('fonts/Gotham-bold/gothambold1.woff') format('woff'), url('fonts/Gotham-bold/gothambold1.ttf') format('truetype');
}

img { border: 0; max-width: 100%; }

.page-header h1 {
  font-size: 3.26em;
  text-align: center;
  color: #efefef;
  text-shadow: 1px 1px 0 #000;
}

/** timeline box structure **/
.timeline {
  	list-style: none;
  	padding: 70px 0 20px;
	position: fixed;
	margin-left: 100px;
	margin-top: 150px;
	  
}

i {
	margin-right: 30px;
}

.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 2px;
  background-color: #d3d7d4;
  left: 50%;
  margin-left: -1.5px;
}

.tldate {
  display: block;
  width: 200px;
  background: #414141;
  border: 3px solid #212121;
  color: #ededed;
  margin: 0 auto;
  padding: 3px 0;
  font-weight: bold;
  text-align: center;
  -webkit-box-shadow: 0 0 11px rgba(0,0,0,0.35);
}

.timeline li {
  	position: relative;
	margin-bottom: 70px;
}

.timeline li:before, .timeline li:after {
  content: " ";
  display: table;
}
.timeline li:after {
  clear: both;
}
.timeline li:before, .timeline li:after {
  content: " ";
  display: table;
}

/** timeline panels **/
.timeline li .timeline-panel {
  width: 46%;
  float: left;
  background: #fff;
  border: 1px solid #d4d4d4;
  padding: 20px;
  position: relative;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.15);
}

/** panel arrows **/
.timeline li .timeline-panel:before {
  position: absolute;
  top: 26px;
  right: -15px;
  display: inline-block;
  border-top: 15px solid transparent;
  border-left: 15px solid #ccc;
  border-right: 0 solid #ccc;
  border-bottom: 15px solid transparent;
  content: " ";
}

.timeline li .timeline-panel:after {
  position: absolute;
  top: 27px;
  right: -14px;
  display: inline-block;
  border-top: 14px solid transparent;
  border-left: 14px solid #fff;
  border-right: 0 solid #fff;
  border-bottom: 14px solid transparent;
  content: " ";
}
.timeline li .timeline-panel.noarrow:before, .timeline li .timeline-panel.noarrow:after {
  top:0;
  right:0;
  display: none;
  border: 0;
}

.timeline li.timeline-inverted .timeline-panel {
  	float: right;
}

.timeline li.timeline-inverted .timeline-panel:before {
	border-left-width: 0;
	border-right-width: 15px;
	left: -15px;
	right: auto;
}

.timeline li.timeline-inverted .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}


/** timeline circle icons **/
.timeline li .tl-circ {
  position: absolute;
  left: 50%;
  text-align: center;
  background: white;
  color: #fff;
  width: 13px;
  height: 13px;
  line-height: 35px;
  margin-left: -7px;
  border: 1px solid black;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  z-index: 99999;
}


/** timeline content **/

.tl-heading h3 {
  color: grey;
  padding-left: 100px;
  padding-top: 2px;
}

.tl-body p, .tl-body ul {
  margin-bottom: 0;
}

.tl-body > p + p {
  margin-top: 5px;
}

/** media queries **/
@media (max-width: 991px) {
  .timeline li .timeline-panel {
    width: 44%;
  }
}

@media (max-width: 700px) {
  .page-header h1 { font-size: 1.8em; }
  
  ul.timeline:before {
    left: 40px;
  }
  
  .tldate { width: 140px; }

  ul.timeline li .timeline-panel {
    width: calc(100% - 90px);
    width: -moz-calc(100% - 90px);
    width: -webkit-calc(100% - 90px);
  }

  ul.timeline li .tl-circ {
    top: 22px;
    left: 22px;
    margin-left: 0;

  }
  ul.timeline > li > .tldate {
    margin: 0;
  }

  ul.timeline > li > .timeline-panel {
    float: right;
  }

  ul.timeline > li > .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
  }

  ul.timeline > li > .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
  }
}


/*my css*/

p {
  color: black;
}

.test {
	margin-top: 1800px;
}

.playlistImg {
	width: 100%!important;
	margin-top: 50px;
	opacity: 0.5;
	cursor: pointer;
}

.playlistTxt {
	margin-top: 50px;
	height: 260px;
	width: 1000px;
	padding-left: 250px;
}

.date {
    text-align: right;
}

.col-md-12 {
	padding-left: 0px!important;
}

div.description {
	height:60px;
}

.description {
	max-height: 0px;
	height: 0px;
	overflow: hidden;
	text-overflow: ellipsis; 
	margin-bottom: 30px;
}

.descHighlited {
	height: 200px;
	overflow: visible;
	text-overflow: normal; 
}

.playlist {
	height: 310px;
}


.parent {
	height: 0px;
}

.child {
  background-image: url("images/city.jpg");
  background-position: center;
  background-size: cover;
  transition: all .5s;
}

.child:hover {
  transform: scale(1.1);
}

.thumbnail {
	margin-bottom: 0px;
}

#test {
    opacity: 0;
    -webkit-transition: all 2s ease-in-out;
    -moz-transition: all 2s ease-in-out;
    -ms-transition: all 2s ease-in-out;
    -o-transition: all 2s ease-in-out;
    transition: all 2s ease-in-out;
}

.testingDiv {
	margin-top: 44px;
	height: 3000px;
	padding-left: 200px;
}


.logo {
	width: 150;
	height: 56.02px;
	margin-top: 20px;
}

svg {
  display: block;
  margin: 0 auto 20px;
  fill: #ea5700;
}



/*.description .read-more { 
  position: absolute; 
  bottom: 0; 
  left: 0;
  width: 100%; 
  text-align: center; 
  margin: 0; padding: 30px 0; 
	
   "transparent" only works here because == rgba(0,0,0,0) 
}*/

 /*test */

		html, body { margin: 0; padding: 0; width: 100%; height: 100%;}
		header {
			position: fixed;
            top: 0;
			width: 100%;
			height: 80px;
			background: #fff;
		}
		nav {
			width: 960px;
			height: 80px;
			margin: 0 auto;
		}
		nav ul {
			margin: 20px 0 0;
		}
		nav ul li {
			display: inline-block;
			margin: 0 30px 0 0;
		}
 
		a { color: #4D4D4D;  font-family: sans-serif; text-transform: uppercase; text-decoration: none; line-height: 42px; }
		.active { color: #2dbccb; }
 
		.content {
			 width: 100%; height: 150px; 
			  margin-top: 80px;
			}
		.content > section { width: 100%; height: 100%; }
 
		#home { background: #2dbccb; }
		#about { background: #f6c362; }
		#services { background-color: #eb7e7f; }
		#contact { background-color: #415c71; }
		

/* Categories Website */

img.categories {
	height: auto; 
    width: auto; 
    max-width: 80%; 
	margin-right: 50px;
	margin-bottom: 150px;
	margin-top: 30px;
	cursor: pointer;
		
}

.img-with-text {
	height: auto; 
	width: auto; 
	text-align:center;
    max-width: 100%; 
}

.img-with-text img {
	display:block;
}

div.categories {
	margin-top: 150px;
}

div.leftSection {
	margin-right: 150px;
}

p.descriptionCategories {
	margin-bottom: 30px;
	font-family: "Gotham-light";
}



.img-with-text img {
    display: block;
	margin: 0 auto;
}

.playlistLogo {
	width: 60%!important;
	height: 60%;
	padding-top: 20px;
	margin-left: 30px;
	fill: white;
}

.videoLogo {
	width: 50%!important;
	max-height: 120px;
	margin-top: 50px;
	float:left;
	display: block;
	margin-bottom: 0px;
}

.videoLogoDiv {
	text-align:center;
	
}

.videoLogoDiv svg{
    display: block;
	
}


.playlistLogoDiv {
	width: 110px;
	height: 110px;
	margin-top: 160px;
	border-radius: 25px;
	 background: -webkit-linear-gradient(left, #ea5700 , #f17700); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #ea5700 , #f17700); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #ea5700 , #f17700); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #ea5700 , #f17700); /* Standard syntax (must be last) */
}

h4.categories{
	font-family: "Gotham-light";
	
}

h3 {
	font-family: "Gotham-bold";	
}

svg.vinylLogo {
	width: auto;
	height: auto; 	
	max-width: 50%;
	bottom: 0;
}

svg.arrow {
	width: auto;
	height: auto; 
	max-width: 40%; 
	bottom: 0;
}

div.lil {
	height: auto;
	bottom: 0;
	margin-right: -50px;
}

div.arrow{
	max-width: 100px;
	height: auto;
}

div.vinyl {
	max-width: 100px;
	height: auto;
}

.childLogos {
  transition: all .5s;
}

.childLogos:hover {
  opacity: 0.8;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
}

.divider {
	width: 6%;
	max-height: 800px;
}

