/*timeline css*/
body {
    background: -webkit-linear-gradient(left, #f1f1f1 , #ffffff); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #f1f1f1 , #ffffff); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #f1f1f1 , #ffffff); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #f1f1f1 , #ffffff); /* Standard syntax (must be last) */
}

@font-face {
	font-family: 'Gotham-light';
	src: url('fonts/Gotham-light/GothamLight.eot');	
	src: local('fonts/Gotham-light/GothamLight'), url('fonts/Gotham-light/GothamLight.woff') format('woff'), url('fonts/Gotham-light/GothamLight.ttf') format('truetype');
}

@font-face {
	font-family: 'Gotham-bold';
	src: url('fonts/Gotham-bold/gothambold1.eot');
	src: local('fonts/Gotham-bold/gothambold1'), url('fonts/Gotham-bold/gothambold1.woff') format('woff'), url('fonts/Gotham-bold/gothambold1.ttf') format('truetype');
}

@font-face {
	font-family: 'Gotham-book';
	src: url('fonts/Gotham-book/GothamBook.eot');
	src: local('fonts/Gotham-book/GothamBook'), url('fonts/Gotham-book/GothamBook.woff') format('woff'), url('fonts/Gotham-book/GothamBook.ttf') format('truetype');
}

@font-face {
	font-family: 'testing';
	src: url('fonts/fonts/icomoon.eot');
	src: local('fonts/fonts/icomoon'), url('fonts/fonts/icomoon.woff') format('woff'), url('fonts/fonts/icomoon.tff') format('truetype');
}

img { border: 0; max-width: 100%; }

.page-header h1 {
  font-size: 3.26em;
  text-align: center;
  color: #efefef;
  text-shadow: 1px 1px 0 #000;
}

/** timeline box structure **/
.timeline {
  	list-style: none;
  	padding: 92px 0 20px;
	position: fixed;
	margin-left: 8px;
}

i {
	margin-right: 10px;
}

.timeline:before {
	top: 0;
	bottom: 0;
	position: absolute;
	content: " ";
	width: 2px;
	background-color: #d3d7d4;
	left: 50%;
	margin-left: -1.5px;
}

.tldate {
	display: block;
	width: 200px;
	background: #414141;
	border: 3px solid #212121;
	color: #ededed;
	margin: 0 auto;
	padding: 3px 0;
	font-weight: bold;
	text-align: center;
	-webkit-box-shadow: 0 0 11px rgba(0,0,0,0.35);
}

.timeline li {
  	position: relative;
	margin-bottom: 60px;
}

.timeline li:before, .timeline li:after {
  content: " ";
  display: table;
}
.timeline li:after {
  clear: both;
}
.timeline li:before, .timeline li:after {
  content: " ";
  display: table;
}

/** timeline panels **/
.timeline li .timeline-panel {
  width: 46%;
  float: left;
  background: #fff;
  border: 1px solid #d4d4d4;
  padding: 20px;
  position: relative;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.15);
}

/** panel arrows **/
.timeline li .timeline-panel:before {
  position: absolute;
  top: 26px;
  right: -15px;
  display: inline-block;
  border-top: 15px solid transparent;
  border-left: 15px solid #ccc;
  border-right: 0 solid #ccc;
  border-bottom: 15px solid transparent;
  content: " ";
}

.timeline li .timeline-panel:after {
  position: absolute;
  top: 27px;
  right: -14px;
  display: inline-block;
  border-top: 14px solid transparent;
  border-left: 14px solid #fff;
  border-right: 0 solid #fff;
  border-bottom: 14px solid transparent;
  content: " ";
}
.timeline li .timeline-panel.noarrow:before, .timeline li .timeline-panel.noarrow:after {
  top:0;
  right:0;
  display: none;
  border: 0;
}

.timeline li.timeline-inverted .timeline-panel {
  	float: right;
}

.timeline li.timeline-inverted .timeline-panel:before {
	border-left-width: 0;
	border-right-width: 15px;
	left: -15px;
	right: auto;
}

.timeline li.timeline-inverted .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}


/** timeline circle icons **/
.timeline li .tl-circ {
	position: absolute;
	left: 50%;
	text-align: center;
	background: white;
	color: #fff;
	width: 10px;
	height: 10px;
	line-height: 35px;
	margin-left: -5px;
	border: 2px solid #D3D7D4;
	border-top-right-radius: 50%;
	border-top-left-radius: 50%;
	border-bottom-right-radius: 50%;
	border-bottom-left-radius: 50%;
	z-index: 99999;
}


/** timeline content **/

.tl-heading h3 {
  	color: grey;
  	padding-left: 100px;
  	margin-top: -4px;
	font-family: "Gotham-light";	  
	font-size: 16px;
}

.tl-body p, .tl-body ul {
  margin-bottom: 0;
}

.tl-body > p + p {
  margin-top: 5px;
}

/** media queries **/
@media (max-width: 991px) {
  .timeline li .timeline-panel {
    width: 44%;
  }
}

@media (max-width: 700px) {
  .page-header h1 { font-size: 1.8em; }
  
  ul.timeline:before {
    left: 40px;
  }
  
  .tldate { width: 140px; }

  ul.timeline li .timeline-panel {
    width: calc(100% - 90px);
    width: -moz-calc(100% - 90px);
    width: -webkit-calc(100% - 90px);
  }

  ul.timeline li .tl-circ {
    top: 22px;
    left: 22px;
    margin-left: 0;

  }
  ul.timeline > li > .tldate {
    margin: 0;
  }

  ul.timeline > li > .timeline-panel {
    float: right;
  }

  ul.timeline > li > .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
  }

  ul.timeline > li > .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
  }
}


/*my css*/

p {
  color: black;
}

.test {
	margin-top: 1800px;
}

.playlistImg {
	width: 100%!important;
	height: auto;
	opacity: 0.5;
	cursor: pointer;
}

.playlistTxt {
	height: 150px;
	width: 450px;
	font-family: "Gotham-light";
	letter-spacing: 1px;	
	font-size: 12px;
}

.date {
	width: 200px;
    text-align: right;
}

.col-md-12 {
	padding-left: 0px!important;
}

div.description {
	height:60px;
}

.description {
	max-height: 0px;
	height: 0px;
	overflow: hidden;
	text-overflow: ellipsis; 
	margin-bottom: 30px;
}

.descHighlited {
	height: 200px;
	overflow: visible;
	text-overflow: normal; 
}

.playlist {
	height: 220px;
}


.parent {
	height: 200px;
	width: 200px;
	margin-left: -50px;
}

.child {
  background-image: url("images/city.jpg");
  background-position: center;
  background-size: cover;
  transition: all .5s;
}

.child:hover {
  transform: scale(1.1);
}

.thumbnail {
	margin-bottom: 0px;
}

#test {
    opacity: 0;
    -webkit-transition: all 2s ease-in-out;
    -moz-transition: all 2s ease-in-out;
    -ms-transition: all 2s ease-in-out;
    -o-transition: all 2s ease-in-out;
    transition: all 2s ease-in-out;
}

.testingDiv {
	margin-top: 34px;
	padding-left: 100px;
	height: 3000px;
}


.logo {
	width: 150;
	height: 56.02px;
	margin-top: 20px;
}

svg {
  display: block;
  margin: 0 auto 20px;
  fill: #ea5700;
}

div.about {
	margin-left: 16px;
}

iframe {
	margin-top: 120px;
	margin-left: 40px;
}

/*.description .read-more { 
  position: absolute; 
  bottom: 0; 
  left: 0;
  width: 100%; 
  text-align: center; 
  margin: 0; padding: 30px 0; 
	
   "transparent" only works here because == rgba(0,0,0,0) 
}*/

 /*test */

		html, body { margin: 0; padding: 0; width: 100%; height: 100%;}
		header {
			position: fixed;
            top: 0;
			width: 100%;
			height: 80px;
			background: #fff;
		}
		nav {
			width: 960px;
			height: 80px;
			margin: 0 auto;
		}
		nav ul {
			margin: 20px 0 0;
		}
		nav ul li {
			display: inline-block;
			margin: 0 30px 0 0;
		}
 
		a { color: #4D4D4D;  font-family: sans-serif; text-transform: uppercase; text-decoration: none;  }
		.active { color: #2dbccb; }
 
		.content {
			 width: 100%; height: 150px; 
			  margin-top: 80px;
			}
		.content > section { width: 100%; height: 100%; }
 
		#home { background: #2dbccb; }
		#about { background: #f6c362; }
		#services { background-color: #eb7e7f; }
		#contact { background-color: #415c71; }
		

/* Categories Website */

img.categories {
	width: 100%; 
	height: auto;
	margin-right: 50px;
	margin-bottom: 150px;
	margin-top: 30px;
	cursor: pointer;
		
}

.img-with-text {
	width: 160px;
	height: 160px;
}

.img-with-text2 {
	width: 90%;
	height: auto;
	text-align:center;
	
}

.img-with-text img {
	display:block;
	margin: 0!important;
}

div.categories {
	margin-top: 100px;
}

div.leftSection {
	margin-right: 30px;
	position: fixed;
}

p.descriptionCategories {
	margin-bottom: 30px;
	font-family: "Gotham-light";
	letter-spacing: 1px;	
	font-size: 12px;	
}





.img-with-text img {
    display: block;
	margin: 0 auto;
}

.playlistLogo {
	width: 60%!important;
	height: 60%;
	padding-top: 20px;
	margin-left: 30px;
	fill: white;
}

.videoLogo {
	width: 50%!important;
	max-height: 120px;
	margin-top: 50px;
	float:left;
	display: block;
	margin-bottom: 0px;
}

.videoLogoDiv {
	text-align:center;
	
}

.videoLogoDiv svg{
    display: block;
	
}


.playlistLogoDiv {
	width: 110px;
	height: 110px;
	margin-top: 160px;
	border-radius: 25px;
	 background: -webkit-linear-gradient(left, #ea5700 , #f17700); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #ea5700 , #f17700); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #ea5700 , #f17700); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #ea5700 , #f17700); /* Standard syntax (must be last) */
}

h4.categories{
	font-family: "Gotham-light";
	
}

h3 {
	font-family: "Gotham-bold";	
	letter-spacing: 3px;	
}

svg.vinylLogo {
	width: auto;
	height: auto; 	
	max-width: 50%;
	bottom: 0;
}

svg.arrow {
	width: auto;
	height: auto; 
	max-width: 40%; 
	bottom: 0;
}

div.lil {
	height: auto;
	bottom: 0;
	margin-right: -50px;
}

div.arrow{
	max-width: 100px;
	height: auto;
}

div.vinyl {
	max-width: 100px;
	height: auto;
}

.childLogos {
  	transition: all .5s;
	padding-right: 0px;
	padding-left: 0px;
	width: 23%;
	margin-right: 56px;
	margin-bottom: 40px;
}

.childLogos:hover {
  opacity: 0.8;
}

.footer {
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 40px;
}

.divider {
	width: 10%;
	height: 100%;
	max-height: 800px;
}

/* Your playlist */

input {
	background: transparent;
	margin-bottom: 40px;
	font-family: "Gotham-light";
	color: #3c3c3c;
	letter-spacing: 1px;	
	font-size: 12px;						
}

.w3-container {
	padding: 0px 0px 0px 0px;
}

.yourPlaylistPara {
	color: #3c3c3c;
	font-family: "Gotham-light";
	font-size: 12px;
	padding-left: 7px;
}

h3 span {
	font-family: "Gotham-bold"!important;	
	color: #ed6c1e;	
}

.newYourPlaylistForm {
	margin-top: 50px;
}



.addAttachments {
	font-size: 15px;	
	text-align: left;
}

div.addAttachmentsDiv {
	margin-left: -6px;
}

label {
	font-family: "Gotham-light";	
	color: #3c3c3c;
	letter-spacing: 1px;		
}

label span {
	font-size: 12px;
	letter-spacing: 1px;		
}

h3.yourPlaylistHeader {
	font-family: "Gotham-book";	
	letter-spacing: 3px;
	padding-left: 7px;	
}

i {
	color: #bebebe;
}

.mainLoginInput::-webkit-input-placeholder {
	font-family: "Gotham-light";
	letter-spacing: 1px;			
}

.mainLoginInput:-ms-input-placeholder {
	font-family: "Gotham-light";	
	letter-spacing: 1px;	
}

.mainLoginInput:-moz-placeholder {
	font-family: "Gotham-light";
	letter-spacing: 1px;	
}

.mainLoginInput::-moz-placeholder {
	font-family: "Gotham-light";	
	letter-spacing: 1px;	
}

input placeholder {
	font-family: "Gotham-light";	
	color: #3c3c3c;	
	letter-spacing: 1px;		
}

p {
	letter-spacing: 1px;	
}

.whatKindOfPlaylistPara {
	font-size: 15px;
	color: #3c3c3c!important;	
	font-family: "Gotham-light";
	letter-spacing: 1px;
	padding-left: 7px;							
}

span.plus {
	font-size: 20px;
}

textarea {
	background: transparent;	
	resize: none;
	color: #3c3c3c;	
	font-family: "Gotham-light";
	letter-spacing: 1px;	
	font-size: 12px;			
}

/* music intro */

body.intro {
  background: red; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, #dd5600, #fab700); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #dd5600, #fab700); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #dd5600, #fab700); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #dd5600, #fab700); /* Standard syntax */
}

.headphonesIcon {
	width: 100px;
	height: 100px;
	fill: white;
	margin-top: 250px;
}

button.wantMusic {
 	background: red; /* For browsers that do not support gradients */	
	background: -webkit-linear-gradient(left, #ea5700 , #f17700); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #ea5700 , #f17700); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #ea5700 , #f17700); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #ea5700 , #f17700); /* Standard */
	color: white;
	font-family: "Gotham-bold";
	letter-spacing: 1px;
	font-size: 15px;

}

    .main-container {
      float: left;
      position: relative;
      left: 50%;
    }
    .fixer-container {
      float: left;
      position: relative;
      left: -50%;
	}
	
#mySidebar {
	left: -300px;
	display:block;
}

div.musicIntro {
	text-align: center;
	color: white!important;
	margin-top: -20px;
}

p.musicIntro {
	text-align: center;
	color: white!important;
	font-family: "Gotham-book";
	letter-spacing: 1px;
	font-size: 15px;
}

.theBiggie {
	width: 0;
	left: -300px;
	display: block;
	background: linear-gradient(90deg, white 50%, transparent 50%);
	border: none!Important;
}

* { margin: 0; padding: 0;}
/*
a { 
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  display: block;
}

a:first-child {
  -webkit-clip-path: polygon(0 0, 0 100vh, 100% 100vh);
  clip-path: polygon(0 0, 0 100vh, 100% 100vh);
  background: #d6d6d6;
}

a:last-child {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100vh);
  clip-path: polygon(0 0, 0 100vh, 100% 100vh);
  background: #212121;
}*/

.dicksy {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted white;
}

.playlistLogoDivMusicIntro .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: white;
    color: #ea5700;
    text-align: center;
    border-radius: 6px;
    padding: 13px 0;
    position: absolute;
    z-index: 1;
    top: 15px;
	left: 80%;
	z-index: 999;
	margin-left: 70px;
	visibility: visible;
	display: none;
	font-family: "Gotham-book";
	letter-spacing: 1px;
	font-size: 15px;
}

.playlistLogoDivMusicIntro .tooltiptext::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent white transparent transparent;
}

.playlistLogoDivMusicIntro {
	height: 110px;
	border-radius: 25px;
	background: transparent;
    text-align: center;
	width: 200px!important;	
    position: relative;
	margin-top: 200px;	
}

.playlistLogoMusicIntro {
	position: relative;
	width: 40%!important;
	height:auto;
}

.videoLogoDivMusicIntro {
	width: 200px!important;
	text-align: center;
	margin-top: 100px;
}

.videoLogoMusicIntro {
	position: relative;
	width: 40%!important;
	height: auto;
	
}

.pTest {
	font-family: "Gotham-light";
	color: #ea5700;
	margin-top: -20px;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}
.icon-video {
  width: 1.013671875em;
}

.iconTest {
	font-family: "testing";
	font-size: 72px;

	background: -webkit-gradient(linear, left top, left bottom, from(#f17700), to(#ea5700));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	display: initial;
}


div.socialMediaDivider {
	margin-right: -10px;
	min-height: 22.5px;
	float: left;
	position: relative;
	padding-right: 15px;
	padding-left: 15px;
}

div.email {
	margin-top: 7px; 
}

/* music_about.html */

div.musicAbout {
	margin-top: 300px;
}

button.musicAbout {
	float: right;
	font-family: "Gotham-light";
	display: none;
}

a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}

div.languages {
	font-family: "Gotham-light";
	font-size: 12px;
	text-align: center;
	margin-top: 20px;
	color: white;
}

span.selectedLanguage {
	border-bottom: solid white 1px;
}

div.languagesDefault {
	font-family: "Gotham-light";
	font-size: 12px;
	text-align: center;
	margin-top: 5px;
	color: #ea5700;
}

span.selectedLanguageDefault {
	border-bottom: solid #ea5700 1px;
}

i {
	font-size: 11px!important;
}

/* text typing animation from -*/

p.textTyping {

}

button.email {
	border: none;
	background: transparent;
}

