/* ===== GLOBAL ===== */
body {
    background: -webkit-linear-gradient(left, #f1f1f1 , #ffffff); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #f1f1f1 , #ffffff); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #f1f1f1 , #ffffff); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #f1f1f1 , #ffffff); /* Standard syntax (must be last) */
}

img { 
	border: 0; 
	max-width: 100%; 
}

.page-header h1 {
  	font-size: 3.26em;
  	text-align: center;
  	color: #efefef;
  	text-shadow: 1px 1px 0 #000;
}

/* ===== FONTS ===== */

@font-face {
	font-family: 'Gotham-light';
	src: url('fonts/Gotham-light/GothamLight.eot');	
	src: local('fonts/Gotham-light/GothamLight'), url('fonts/Gotham-light/GothamLight.woff') format('woff'), url('fonts/Gotham-light/GothamLight.ttf') format('truetype');
}

@font-face {
	font-family: 'Gotham-bold';
	src: url('fonts/Gotham-bold/gothambold1.eot');
	src: local('fonts/Gotham-bold/gothambold1'), url('fonts/Gotham-bold/gothambold1.woff') format('woff'), url('fonts/Gotham-bold/gothambold1.ttf') format('truetype');
}

@font-face {
	font-family: 'Gotham-book';
	src: url('fonts/Gotham-book/GothamBook.eot');
	src: local('fonts/Gotham-book/GothamBook'), url('fonts/Gotham-book/GothamBook.woff') format('woff'), url('fonts/Gotham-book/GothamBook.ttf') format('truetype');
}

@font-face {
	font-family: 'testing';
	src: url('fonts/fonts/icomoon.eot');
	src: local('fonts/fonts/icomoon'), url('fonts/fonts/icomoon.woff') format('woff'), url('fonts/fonts/icomoon.tff') format('truetype');
}

/* ===== TIMELINE ===== */
.timeline {
  	list-style: none;
  	padding: 50px 0 0px;
	position: fixed;
	margin-left: 8px;
}

i {
	margin-right: 10px;
}

.timeline:before {
	top: 0;
	bottom: 0;
	position: absolute;
	content: " ";
	width: 1px;
	background-color: #d3d7d4;
	left: 50%;
	margin-left: -1.5px;
}

.tldate {
	display: block;
	width: 200px;
	background: #414141;
	border: 3px solid #212121;
	color: #ededed;
	margin: 0 auto;
	padding: 3px 0;
	font-weight: bold;
	text-align: center;
	-webkit-box-shadow: 0 0 11px rgba(0,0,0,0.35);
}

.timeline li {
  	position: relative;
	margin-bottom: 80px;
}

.timeline li:before, .timeline li:after {
	content: " ";
	display: table;
}
.timeline li:after {
	clear: both;
}
.timeline li:before, .timeline li:after {
	content: " ";
	display: table;
}

.lastTimeline {
	margin-bottom: 35px!important;
}

h3.selectedYearTimeline {
	font-size: 20px!important;
	color: black!important;
	margin-top: -6px!important;
}

div.selectedYearTimeline{
	border-color: black!important;
}

/** timeline panels **/
.timeline li .timeline-panel {
	width: 46%;
	float: left;
	background: #fff;
	border: 1px solid #d4d4d4;
	padding: 20px;
	position: relative;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	-webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.15);
	box-shadow: 0 1px 6px rgba(0, 0, 0, 0.15);
}

/** panel arrows **/
.timeline li .timeline-panel:before {
	position: absolute;
	top: 26px;
	right: -15px;
	display: inline-block;
	border-top: 15px solid transparent;
	border-left: 15px solid #ccc;
	border-right: 0 solid #ccc;
	border-bottom: 15px solid transparent;
	content: " ";
}

.timeline li .timeline-panel:after {
	position: absolute;
	top: 27px;
	right: -14px;
	display: inline-block;
	border-top: 14px solid transparent;
	border-left: 14px solid #fff;
	border-right: 0 solid #fff;
	border-bottom: 14px solid transparent;
	content: " ";
}
.timeline li .timeline-panel.noarrow:before, .timeline li .timeline-panel.noarrow:after {
	top:0;
	right:0;
	display: none;
	border: 0;
}

.timeline li.timeline-inverted .timeline-panel {
  	float: right;
}

.timeline li.timeline-inverted .timeline-panel:before {
	border-left-width: 0;
	border-right-width: 15px;
	left: -15px;
	right: auto;
}

.timeline li.timeline-inverted .timeline-panel:after {
	border-left-width: 0;
	border-right-width: 14px;
	left: -14px;
	right: auto;
}


/** timeline circle icons **/
.timeline li .tl-circ {
	position: absolute;
	left: 50%;
	text-align: center;
	background: #F2F2F2;
	color: #fff;
	width: 10px;
	height: 10px;
	line-height: 35px;
	margin-left: -6px;
	border: 1px solid #D3D7D4;
	border-top-right-radius: 50%;
	border-top-left-radius: 50%;
	border-bottom-right-radius: 50%;
	border-bottom-left-radius: 50%;
	z-index: 99999;
}


/** timeline content **/

.tl-heading h3 {
  	color: grey;
  	padding-left: 100px;
  	margin-top: -4px;
	font-family: "Gotham-light";	  
	font-size: 16px;
}

.tl-body p, .tl-body ul {
  	margin-bottom: 0;
}

.tl-body > p + p {
  	margin-top: 5px;
}

/** media queries **/
@media (max-width: 991px) {
	.timeline li .timeline-panel {
		width: 44%;
	}
}

@media (max-width: 700px) {
	.page-header h1 { font-size: 1.8em; }
	
	ul.timeline:before {
		left: 40px;
	}
	
	.tldate { width: 140px; }

	ul.timeline li .timeline-panel {
		width: calc(100% - 90px);
		width: -moz-calc(100% - 90px);
		width: -webkit-calc(100% - 90px);
	}

	ul.timeline li .tl-circ {
		top: 22px;
		left: 22px;
		margin-left: 0;

	}
	ul.timeline > li > .tldate {
		margin: 0;
	}

	ul.timeline > li > .timeline-panel {
		float: right;
	}

	ul.timeline > li > .timeline-panel:before {
		border-left-width: 0;
		border-right-width: 15px;
		left: -15px;
		right: auto;
	}

	ul.timeline > li > .timeline-panel:after {
		border-left-width: 0;
		border-right-width: 14px;
		left: -14px;
		right: auto;
	}
}


/* ===== index.html ===== */

p {
  	color: black;
}

.test {
	margin-top: 1800px;
}

.playlistImg {
	width: 100%!important;
	height: auto;
	opacity: 0.5;
	cursor: pointer;
}

.playlistTxt {
	height: 150px;
	width: 450px;
	font-family: "Gotham-light";
	letter-spacing: 1px;	
	font-size: 12px;
}

.date {
	width: 200px;
    text-align: right;
}

.col-md-12 {
	padding-left: 0px!important;
}

div.description {
	height:60px;
}

.description {
	max-height: 0px;
	height: 0px;
	overflow: hidden;
	text-overflow: ellipsis; 
	margin-bottom: 30px;
}

.descHighlited {
	max-height: 400px;
	overflow: visible;
	text-overflow: normal; 
}

.playlist {
	height: 220px;
}


.parent {
	height: 200px;
	width: 200px;
	margin-left: -50px;
}

.child {
  background-image: url("images/city.jpg");
  background-position: center;
  background-size: cover;
  transition: all .5s;
}

.child:hover {
  transform: scale(1.1);
}

.thumbnail {
	margin-bottom: 0px;
}

#test {
    opacity: 0;
    -webkit-transition: all 2s ease-in-out;
    -moz-transition: all 2s ease-in-out;
    -ms-transition: all 2s ease-in-out;
    -o-transition: all 2s ease-in-out;
    transition: all 2s ease-in-out;
}

.testingDiv {
	margin-top: 34px;
	padding-left: 100px;
	height: 3000px;
}


.logo {
	width: 150;
	height: 56.02px;
	margin-top: 20px;
}

svg {
  display: block;
  margin: 0 auto 20px;
  fill: #ea5700;
}

div.about {
	margin-left: 16px;
	height:200px;
	
}

iframe {
	margin-left: 40px;
	margin-top: 90px;
	position:relative;
	z-index: 9999;
}

/*.description .read-more { 
  position: absolute; 
  bottom: 0; 
  left: 0;
  width: 100%; 
  text-align: center; 
  margin: 0; padding: 30px 0; 
	
   "transparent" only works here because == rgba(0,0,0,0) 
}*/

 /*test */

		html, body { margin: 0; padding: 0; width: 100%; height: 100%;}
		header {
			position: fixed;
            top: 0;
			width: 100%;
			height: 80px;
			background: #fff;
		}

		nav ul {
			margin: 20px 0 0;
		}
		nav ul li {
			display: inline-block;
			margin: 0 30px 0 0;
		}
 
		a { color: #4D4D4D;  font-family: sans-serif; text-transform: uppercase; text-decoration: none;  }
		.active { color: #2dbccb; }
 
		.content {
			 width: 100%; height: 150px; 
			  margin-top: 80px;
			}
		.content > section { width: 100%; height: 100%; }
 
		#home { background: #2dbccb; }
		#about { background: #f6c362; }
		#services { background-color: #eb7e7f; }
		

/* Categories Website */

img.categories {
	width: 100%; 
	height: auto;
	margin-right: 50px;
	margin-bottom: 150px;
	margin-top: 30px;
	cursor: pointer;
		
}

.img-with-text {
	width: 160px;
	height: 160px;
}

.img-with-text2 {
	width: 90%;
	height: auto;
	text-align:center;
	
}

.img-with-text img {
	display:block;
	margin: 0!important;
}

div.categories {
	margin-top: 100px;
}

div.leftSection {
	margin-right: 30px;
	position: fixed;
}

p.descriptionCategories {
	margin-bottom: 30px;
	font-family: "Gotham-light";
	letter-spacing: 1px;	
	font-size: 12px;	
}





.img-with-text img {
    display: block;
	margin: 0 auto;
}

.playlistLogo {
	width: 60%!important;
	height: 60%;
	padding-top: 20px;
	margin-left: 30px;
	fill: white;
}

.videoLogo {
	width: 50%!important;
	max-height: 120px;
	margin-top: 50px;
	float:left;
	display: block;
	margin-bottom: 0px;
}

.videoLogoDiv {
	text-align:center;
	
}

.videoLogoDiv svg{
    display: block;
	
}


.playlistLogoDiv {
	width: 110px;
	height: 110px;
	margin-top: 160px;
	border-radius: 25px;
	 background: -webkit-linear-gradient(left, #ea5700 , #f17700); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #ea5700 , #f17700); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #ea5700 , #f17700); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #ea5700 , #f17700); /* Standard syntax (must be last) */
}

h4.categories{
	font-family: "Gotham-light";
	
}

h3 {
	font-family: "Gotham-bold";	
	letter-spacing: 3px;	
}

svg.vinylLogo {
	width: auto;
	height: auto; 	
	max-width: 50%;
	bottom: 0;
}

svg.arrow {
	width: auto;
	height: auto; 
	max-width: 40%; 
	bottom: 0;
}

div.lil {
	height: auto;
	bottom: 0;
	margin-right: -50px;
}

div.arrow{
	max-width: 100px;
	height: auto;
}

div.vinyl {
	max-width: 100px;
	height: auto;
}

.childLogos {
  	transition: all .5s;
	padding-right: 0px;
	padding-left: 0px;
	width: 23%;
	margin-right: 56px;
	margin-bottom: 40px;
}

.childLogos:hover {
  opacity: 0.8;
}

.footer {
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 40px;
}

.divider {
	width: 10%;
	height: 100%;
	max-height: 800px;
}

/* Your playlist */

input {
	background: transparent;
	margin-bottom: 40px;
	font-family: "Gotham-light";
	color: #3c3c3c;
	letter-spacing: 1px;	
	font-size: 12px;						
}

.w3-container {
	padding: 0px 0px 0px 0px;
}

.yourPlaylistPara {
	color: #3c3c3c;
	font-family: "Gotham-light";
	font-size: 12px;
	padding-left: 7px;
}

h3 span {
	font-family: "Gotham-bold"!important;	
	color: #ed6c1e;	
}

.newYourPlaylistForm {
	margin-top: 50px;
}



.addAttachments {
	font-size: 15px;	
	text-align: left;
}

div.addAttachmentsDiv {
	margin-left: -6px;
}

label {
	font-family: "Gotham-light";	
	color: #3c3c3c;
	letter-spacing: 1px;		
}

label span {
	font-size: 12px;
	letter-spacing: 1px;		
}

h3.yourPlaylistHeader {
	font-family: "Gotham-book";	
	letter-spacing: 3px;
	padding-left: 7px;	
}

i {
	color: #bebebe;
}

.mainLoginInput::-webkit-input-placeholder {
	font-family: "Gotham-light";
	letter-spacing: 1px;			
}

.mainLoginInput:-ms-input-placeholder {
	font-family: "Gotham-light";	
	letter-spacing: 1px;	
}

.mainLoginInput:-moz-placeholder {
	font-family: "Gotham-light";
	letter-spacing: 1px;	
}

.mainLoginInput::-moz-placeholder {
	font-family: "Gotham-light";	
	letter-spacing: 1px;	
}

input placeholder {
	font-family: "Gotham-light";	
	color: #3c3c3c;	
	letter-spacing: 1px;		
}

p {
	letter-spacing: 1px;	
}

.whatKindOfPlaylistPara {
	font-size: 15px;
	color: #3c3c3c!important;	
	font-family: "Gotham-light";
	letter-spacing: 1px;
	padding-left: 7px;							
}

span.plus {
	font-size: 20px;
}

textarea {
	background: transparent;	
	resize: none;
	color: #3c3c3c;	
	font-family: "Gotham-light";
	letter-spacing: 1px;	
	font-size: 12px;			
}

/* music intro */

body.intro {
  background: red; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, #dd5600, #fab700); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #dd5600, #fab700); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #dd5600, #fab700); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #dd5600, #fab700); /* Standard syntax */
}

.headphonesIcon {
	width: 100px;
	height: 100px;
	fill: white;
	margin-top: 250px;
}

button.wantMusic {
 	background: red; /* For browsers that do not support gradients */	
	background: -webkit-linear-gradient(left, #ea5700 , #f17700); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #ea5700 , #f17700); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #ea5700 , #f17700); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #ea5700 , #f17700); /* Standard */
	color: white;
	font-family: "Gotham-bold";
	letter-spacing: 1px;
	font-size: 15px;

}

    .main-container {
      float: left;
      position: relative;
      left: 50%;
    }
    .fixer-container {
      float: left;
      position: relative;
      left: -50%;
	}
	
#mySidebar {
	left: -300px;
	display:block;
}

div.musicIntro {
	text-align: center;
	color: white!important;
	margin-top: -20px;
}

p.musicIntro {
	text-align: center;
	color: white!important;
	font-family: "Gotham-book";
	letter-spacing: 1px;
	font-size: 15px;
}

.theBiggie {
	width: 0;
	left: 0px!important;
	display: block;
	background: linear-gradient(90deg, white 50%, transparent 50%);
	border: none!Important;
}

* { margin: 0; padding: 0;}
/*
a { 
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  display: block;
}

a:first-child {
  -webkit-clip-path: polygon(0 0, 0 100vh, 100% 100vh);
  clip-path: polygon(0 0, 0 100vh, 100% 100vh);
  background: #d6d6d6;
}

a:last-child {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100vh);
  clip-path: polygon(0 0, 0 100vh, 100% 100vh);
  background: #212121;
}*/

.dicksy {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted white;
}

.playlistLogoDivMusicIntro .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: white;
    color: #ea5700;
    text-align: center;
    border-radius: 6px;
    padding: 13px 0;
    position: absolute;
    z-index: 1;
    top: 15px;
	left: 80%;
	z-index: 999;
	margin-left: 70px;
	visibility: visible;
	display: none;
	font-family: "Gotham-book";
	letter-spacing: 1px;
	font-size: 15px;
}


.playlistLogoDivMusicIntro .tooltiptext::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent white transparent transparent;
}

.playlistLogoDivMusicIntro {
	height: 110px;
	border-radius: 25px;
	background: transparent;
    text-align: center;
	width: 200px!important;	
    position: relative;
	margin-top: 200px;	
	display: none;
}

.playlistLogoMusicIntro {
	position: relative;
	width: 40%!important;
	height:auto;
}

.videoLogoDivMusicIntro {
	width: 200px!important;
	text-align: center;
	margin-top: 100px;
	display: none;
}

.videoLogoMusicIntro {
	position: relative;
	width: 40%!important;
	height: auto;
	
}

.pTest {
	font-family: "Gotham-light";
	color: #ea5700;
	margin-top: -20px;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}
.icon-video {
  width: 1.013671875em;
}

.iconTest {
	font-family: "testing";
	font-size: 72px;

	background: -webkit-gradient(linear, left top, left bottom, from(#f17700), to(#ea5700));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	display: initial;
}


div.socialMediaDivider {
	margin-right: -10px;
	min-height: 22.5px;
	float: left;
	position: relative;
	padding-right: 15px;
	padding-left: 15px;
}

div.email {
	margin-top: 7px; 
}

/* music_about.html */

div.musicAbout {
	margin-top: 300px;
}

button.musicAbout {
	float: right;
	font-family: "Gotham-light";
	display: none;
	width: 320px;
	height: 40px;
	font-size: 14px;
}

a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}

div.languages {
	font-family: "Gotham-light";
	font-size: 12px;
	text-align: center;
	margin-top: 20px;
	color: white;
}

span.selectedLanguage {
	border-bottom: solid white 1px;
}

div.languagesDefault {
	font-family: "Gotham-light";
	font-size: 12px;
	text-align: center;
	margin-top: 5px;
	color: #ea5700;
}

span.selectedLanguageDefault {
	border-bottom: solid #ea5700 1px;
}

i {
	font-size: 11px!important;
}

/* text typing animation from -*/

p.textTyping {
	text-align: justify;
	line-height: 160%;
}

button.email {
	border: none;
	background: transparent;
}

.modal {
  text-align: center;
}

@media screen and (min-width: 768px) { 
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}

.modal-dialog {
  	display: inline-block;
  	text-align: left;
	vertical-align: middle;
	width: 720px
}

.modal-body {
	padding: 50px;
}

button.submitModalButton {
	margin-top: -40px;
}

button.close {
	margin-top: -30px;
	margin-right: -30px;
}

.emailModalForm {
	margin-top: 20px!important;
	margin-bottom: 20px!important;
}

/*
#bottom_fade {
	margin-left: 50px;	
	width: 1000px;
	height: 200px;
	z-index: 999999;
	position: fixed;
	bottom: 0px;
	background: url("../css/img/bottom-fade.png") bottom center no-repeat;
}

#top_fade {
	margin-left: 50px;
	width: 1000px;
	height: 200px;
	z-index: 999999;
	position: fixed;
	top: 0px;
	background: url("../css/img/top-fade.png") bottom center no-repeat;
} */


/* ======= videos.html  ======= */ 

div.videoImgDiv {
	height: auto;
}

.videoImg {
	width: 100%!important;
	height: auto;
	cursor: pointer;
}

div.videoTitle {
	padding: 0;
	margin-top: 10px;
}

div.videoDate {
	margin-top: 10px;
}

p.videoDate {
	float: right;
	position: relative;
}

p {
	font-family: "Gotham-light";
	font-size: 12px;
	color: #3c3c3c;
}

p.title {
	font-family: "Gotham-book";
	font-size: 22px;
	margin-top: 5px;	
}

p.date {
	font-family: "Gotham-book";
	font-size: 15px;
	padding-top: 12px;
}

div.video {
	width: 600px;
	height: auto;
	margin-bottom: 80px;
	overflow:auto; 
}

p.videoDescription {
	text-align: justify;
}

.videoMainDiv {
	margin-top: 120px;
	padding-left: 140px;
	height: 3000px;
}

/* ======= videos2.html  ======= */ 

div.video2 {
	height: auto;
	margin-bottom: 80px;
	overflow:auto; 
}

p.titleVideo2 {
	font-family: "Gotham-book";
	font-size: 15px;
	margin-top: 5px;	
}

p.videoDate2 {
	font-family: "Gotham-book";
	font-size: 12px;
}

p.videoDescription2 {
	text-align: justify;	
	overflow: hidden;

}

span.threeDots {
	font-family: "Gotham-light";
	font-size: 15px;
}

.module {
	width: 250px;
	overflow: hidden;
  }
  
.fade3, .fade2 {
	  opacity: 100;
	position: relative;
	height: 5em; /* exactly three lines */
  }
.fade3:after {
	content: "";
	text-align: right;
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 1.2em;
	background: linear-gradient(to right, rgba(255, 255, 255, 0), rgb(248,248,248) 50%);
  }
.fade2:after {
	content: "";
	text-align: right;
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 1.2em;
	background: linear-gradient(to right, rgba(255, 255, 255, 0), rgb(252,252,252) 50%);
}

/* ======= branding.html  ======= */ 

body.brandingBody {
	background: -webkit-linear-gradient(left, #3405AA , #1C017E); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #3405AA , #1C017E); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #3405AA , #1C017E); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #3405AA , #1C017E); /* Standard syntax (must be last) */
}

div.brandingMainDiv {
	margin-top: 200px;
	height: 500px;
	height: auto!important;
	
}

.brandingImg {
	width: 100%!important;
	height: auto;
	cursor: pointer;
}

.brandingImgDiv {
	width: 300px;
	height: 450px;
	-webkit-mask-size: 300px 450px;
	-webkit-mask-image: -webkit-gradient(linear, center bottom, center top, 
	   color-stop(0.250,  rgba(0,0,0,0)),
	   color-stop(0.80,  rgba(0,0,0,1)));
}

.brandingImgDiv2 {
	height: 250px;
	background: -webkit-gradient(linear, center bottom, center top, 
	   color-stop(0.40,  transparent),
	   color-stop(0.750,  #181568));


}

.brandingBasicFont {
	font-family: "Gotham-light";
	font-size: 12px;
	color: white;
}

.navbar-default {
	background-color: transparent;
	border-color: transparent;
}

.container #navbar {
	background-color: #280395;
	border-color: transparent;
}

.navbar-brand {
	font-family: "Gotham-light";
	font-size: 15px;
	color: white!important;
}

#myTab {
	float: right;
}

.languageLi {
	margin-right: -15px;
}

.brandingDesc {
	margin-left: 50px;
}

.brandingMoreDetails {
	font-family: "Gotham-bold";
	font-size: 15px;
	color: white!important;
	margin-top: -10px;
}

.navbar-inverse {
	background-color: transparent;
	border: none;
}

.brandingTimeline {
	position: relative!important;
	margin-left: 300px!important;
	padding-top: 350px!important;
	margin-top: 30px;
	width: 100px;
}

.branding-tl-circ {
	background: #2A0399!important;
	z-index: 1!important;
}

.brandingTimelineDiv {
	height: 1000px!important;
}

.authorPictureDiv {
	background: red;
	height: 200px;
	width: 200px;
	border-radius: 500px;
	margin: 20px;
	-webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 1);
	-moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 1);
	box-shadow: 0px 0px 80px 10px rgba(0, 0, 0, 1); 
	padding: 0;
	margin-left: 100px;
}

.authorPictureImg {
	height: 200px;
	width: 200px;
	border-radius: 500px;
}

h1 {
	font-family: "Gotham-bold";
	color: white;
}

h1.big {
	font-size: 100px;
}

h1.one {

}

h1.tree {
	margin-top: -80px;
	margin-left: 180px;
}

h1.slash {
	margin-top: -100px;
	margin-left: 90px;
}

.middle {
	text-align: center;
}

.middleNumber {
	text-align: center;
	padding-right: 100px;
}

h3 {
	font-family: "Gotham-book";
	color: white;
	margin-left: 100px;
}

.brandingInput {
	color: white!important;
}

.brandingFormDiv {
}

.brandingFormDivParent {
	display: flex;
	justify-content: center;
}

.portfolioImgDiv {
	width: 300px;
	display: flex;
	justify-content: center;
}

.portfolioImg {
	width: 80%;
	height: 450px!important;
}

.brandingImg {
	width: 270px!important;
	height: auto;
	cursor: pointer;
} 

.collaborateLarge {
	width: 160px;
	height: 150px;
	background-color: white;
	margin-right: 50px;
	margin-bottom: 40px
}

.collaborateSmall {
	width: 110px;
	height: 138px;
	background-color: white;
	margin-right: 47px;
	margin-bottom: 40px
}

.regular-checkbox {
	-webkit-appearance: none;
	background-color: #fafafa;
	border: 1px solid #cacece;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
	padding: 9px;
	border-radius: 3px;
	display: inline-block;
	position: relative;
}

.regular-checkbox:active, .regular-checkbox:checked:active {
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

.regular-checkbox:checked {
	background-color: #e9ecee;
	border: 1px solid #adb8c0;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
	color: #99a1a7;
}

.regular-checkbox:checked:after {
	content: '\2714';
	font-size: 14px;
	position: absolute;
	top: 0px;
	left: 3px;
	color: #99a1a7;
}

.big-checkbox {
	padding: 18px;
}

.big-checkbox:checked:after {
	font-size: 28px;
	left: 6px;
}

label {
	display: inline;
}

.regular-checkbox {
	display: none;
}

.regular-checkbox + label {
	background-color: #fafafa;
	border: 1px solid #cacece;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
	padding: 9px;
	border-radius: 3px;
	display: inline-block;
	position: relative;
}

.regular-checkbox + label:active, .regular-checkbox:checked + label:active {
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

.regular-checkbox:checked + label {
	background-color: #e9ecee;
	border: 1px solid #adb8c0;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
	color: #99a1a7;
}

.regular-checkbox:checked + label:after {
	content: '\2714';
	font-size: 14px;
	position: absolute;
	top: 0px;
	left: 3px;
	color: #99a1a7;
}

.big-checkbox + label {
	padding: 18px;
}

.big-checkbox:checked + label:after {
	font-size: 28px;
	left: 6px;
}

.tag {
	font-family: Arial, sans-serif;
	width: 200px;
	position: relative;
	top: 5px;
	font-weight: bold;
	text-transform: uppercase;
	display: block;
	float: left;
}

.radio-1 {
	width: 193px;
}

.button-holder {
	float: left;
}

.checkboxLargeDiv {
	margin-left: 120px;
	margin-top: 10px;
}

.checkboxSmallDiv {
	margin-left: 70px;
	margin-top: 10px;
}

input[type=checkbox].css-checkbox {
	position:absolute; z-index:-1000; left:-1000px; overflow: hidden; clip: rect(0 0 0 0); height:1px; width:1px; margin:-1px; padding:0; border:0;
}

input[type=checkbox].css-checkbox + label.css-label {
	padding-left:55px;
	height:50px; 
	display:inline-block;
	line-height:50px;
	background-repeat:no-repeat;
	background-position: 0 0;
	font-size:50px;
	vertical-align:middle;
	cursor:pointer;

}

input[type=checkbox].css-checkbox:checked + label.css-label {
	background-position: 0 -50px;
}
label.css-label {
background-image:url(http://csscheckbox.com/checkboxes/u/csscheckbox_7a51de2f6764739a60a1c57b7736eb7f.png);
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}

.opacityHalf {
	opacity: 0.5;
}

.opacityDiv {
	height: 150px;
	justify-content: center;
}

.opacityDivSmall {
	height: 138px;
	justify-content: center;
}

h1.biggest {
	font-size: 170px;
	margin-top: -25px;
}

h1.smaller {
	font-size: 20px;
	margin-top: -120px;
}

h1.bigger {
	font-size: 140px;
	margin-top: -25px;
	margin-left: 80px;
	margin-top: -170px;
}

.brandingFormName {
	padding: 0;
	width: 200px;
	float: left;
}

.brandingFormPhone {
	padding: 0;
	width: 200px;
	float: right;
}

.brandingImgDivSmall {
	width: 80px;
	height: 80px;
	padding: 0;
	margin-right: 20px;
}

.brandingImgSmaller {
	width: 80px!important;
	height: 80px!important;
}

.emptyBox {
	width: 80px;
	height: 80px;
	background-color: #16015F;
	display: flex;
	justify-content: center;
	padding: 0;
}

h1.anotherSmall {
	font-size: 20px;
	height: 20px;
	opacity: 0.5;
	margin-top: 25px;
}

.footer-bottom {
    background-color: #180044 /*#048e16*/;
    min-height: 25px;
	width: 100%;
	border: none;
}

.bradingCollaborateDiv {
	height: auto!important;
	margin-top: 0px!important;
}

.bottomMedia {
	float: left;
	margin-left: 25px;
}

#topAndProfile {
	background: red; /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(right top, #22004d, #004fa8); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(bottom left, #22004d, #004fa8); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(bottom left, #22004d, #004fa8); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to bottom left, #22004d, #004fa8); /* Standard syntax */
	overflow:auto; 	
}

#collaborate {
    background: #0e2f83; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#132477, #0e2f83); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#132477, #0e2f83); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#132477, #0e2f83); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#132477, #0e2f83); /* Standard syntax */
}

.brandingDividerDiv {
	height: 200px;
	background: #004fa8; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#004fa8, #132477); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#004fa8, #132477); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#004fa8, #132477); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#004fa8, #132477); /* Standard syntax */
}



.brandingDividerDiv2 {
	
	height: 10px;
	background: -webkit-gradient(linear, center bottom, center top, 
	   color-stop(0.10,  #014DA6),
	   color-stop(0.950,  #093A90));
	position:relative;

}

#portfolio {
	overflow: auto; 		
	background: #200553; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#200553, #180044); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#200553, #180044); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#200553, #180044); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#200553, #180044); /* Standard syntax */
}

.brandingDividerDiv3 {
	height: 200px;
	background: #004fa8; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#0E2F83, #200553); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#0E2F83, #200553); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#0E2F83, #200553); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#0E2F83, #200553); /* Standard syntax */
}

.brandingDividerDiv4 {
	height: 200px;
}
